<div id="modal-window">
  <div id="modal-box">
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div id="modal-content">
    </div>
  </div>
</div>